.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Reduced padding */
    background-color: #333;
    color: #fff;
    width: 100%; /* Ensure it takes the full width */
    box-sizing: border-box; /* Include padding in width calculation */
}

.header-title {
    margin: 0;
    font-size: 1.85em;
}

.header-icons {
    display: flex;
    gap: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
